* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    /* background: linear-gradient(-45deg, #0b2c24, #0f3a2c, #15533a, #1b5f42); */
    background: #0f3a2c;
    background-size: 400% 400%;
    /* animation: gradient 15s ease infinite; */
    height: 100dvh;
}

html {
    scroll-behavior: smooth;
}
  

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px); /* Transparent white background */
}

.navbar-logo img {
    height: 40px;
}
.navbar-logo a{
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    padding: 7px;
    color: #23d5ab;
    transition: all linear .3s;
}
.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links li {
    margin-left: 2rem;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #23d5ab;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 2px 0;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* Home section */
#home {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.container {
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
}

.left {
    width: 500px;
}

.heading {
    position: relative;
}

.left .heading h1 {
    font-size: 4rem;
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: 20px;
    color: #f9f9f9;
}

.heading img {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 70px;
    bottom: 10px;
    transition: all 1.5s ease;
    animation: hi 3s ease-in-out infinite;
}

@keyframes hi {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.intro p {
    color: #767676;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
}

.gitin a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.gitin a:hover {
    color: #23d5ab;
}
.container .img {
    background-image: url("../images/propic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25rem;
    height: 25rem;
    border: 3px solid rgb(255, 255, 255);
    transition: all 1s ease;
    animation: rakib 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}
@keyframes rakib {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.tech {
    display: flex;
    width: 80%;
    align-items: center;
}

.tech .h p{
    color: #efebeb;
}
.tech .h {
    margin-right: 10px;
    border-right: 2px solid #efebeb;
    font-size: 20px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 10px;
}

.imagesTech div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 10px lawngreen;
    padding: 10px;
    transition: all linear .3s;
}

.imagesTech div:hover {
    transform: translateY(-5px);
    border-radius: 35%;
    transition: all linear .3s;
    box-shadow: 0 0 10px lawngreen;
}

.imagesTech img {
    width: 2rem;
}


.imagesTech {
    min-width: 30%;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* tech icon
.tech {
    position: relative;
}
.icon_tech ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.icon_tech ul li {
    list-style: none;
    margin: 0 15px;
}
  
.icon_tech ul li a {
    position: absolute; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
}

.icon_tech ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.icon_tech ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}

.icon_tech ul li a:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
} */

/* about section */
/* About section */
#about {
    width: 100%;
    padding: 100px 0;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    position: relative;
}

.picture img {
    border-radius: 10px;
    width: 450px;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.aboutsection {
    width: 50%;
    padding-left: 2.5rem;
}

.aboutsection h1:nth-child(1) {
    color: #64adff;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.aboutsection h1:nth-child(2) {
    color: rgb(117, 117, 255);
    font-size: 1.7rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.aboutsection p {
    color: #a5a5a5;
    line-height: 1.2;
}

.picture .rakib {
    position: absolute;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    bottom: -25px;
    right: -25px;
    filter: brightness(110%);
    animation: spin 9s ease infinite;
    transition: all 1s ease;
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

@media screen and (max-width: 965px) {

    .container {
        flex-direction: column-reverse;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    #home {
        padding: 9rem 0;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .left .heading h1 {
        font-size: 3rem;
    }

    .left {
        width: 550px;
    }

    .intro p {
        font-size: 20px;
    }

    .container .right {
        margin-bottom: 30px;
    }

    #home .container {
        text-align: center;
    }

    .left .heading img {
        display: none;
    }

    .tech {
        justify-content: center;
        width: 100%;
    }

    .img {
        width: 20rem;
        height: 20rem;
    }
    .main {
        flex-direction: column;
        width: 80%;
    }

    .aboutsection {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    /* .rakib {
        display: none;
    } */

    .picture img {
        width: 350px;
        height: 300px;
    }

    .picture {
        margin-bottom: 50px;
    }

}
/* projectssection */
.project {
    background-color: #0f3a2c;
    padding: 120px 0;
}

.container {
    margin: 0 auto;
    max-width: 1070px;
    padding: 0 40px;
    height: auto;
}

.project-content {
    display: flex;
    flex-direction: column;
}

.project-content p {
    color: #1481ff;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.project-content h3 {
    color: #777a88;
    font-size: 25px;
    margin-bottom: 60px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
    height: auto;
    width: 100%;
}

.projects-grid .pro__1 {
    display: flex;
    flex-direction: row;
    gap: 60px;
    height: 400px;
    padding: 20px;
}

.projects-grid .pro {
    background-color: #126b4d;
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.projects-grid .pro__img {
    background-color: hsla(0, 0%, 46%, 0.2);
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto;
    overflow: hidden;
    width: 100%;
}

.projects-grid .pro__img img {
    transform: translateY(0%);
    transition: transform 10s ease-in-out 0s;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.projects-grid .pro__text {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.projects-grid .pro__text h3 {
    color: #2d2e32;
    font-size: 17px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}

.projects-grid .pro__text p {
    color: #bbbbbb;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

.stack {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.links,
.links a {
    align-items: center;
    display: flex;
}

.links {
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 30px;
}

.reversed-proj {
    flex-direction: row-reverse !important;
}

.stack p {
    font-size: 20px;
    background-color: #0fb85b;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #000 !important;
    font-weight: 600 !important;
    padding: 10px 15px;
}

.links a {
    color: #2d2e32;
    font-size: 17px;
    font-weight: 500;
    gap: 5px;
    text-decoration: none;
    transition: all .4s ease-in-out;
}

.links,
.links a {
    align-items: center;
    display: flex;
}

a:hover {
    color: rgb(20, 251, 109);
}

.contact {
    background-color: #fff;
    padding: 100px 0;
}
.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}
.contact__content {
    display: flex;
    flex-direction: column;
}
.contact__title p {
    color: #147efb;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.contact__title h3 {
    color: #2d2e32;
    font-size: 25px;
}
.contact__icons {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 30px;
}
.contact__icon-box {
    align-items: center;
    display: flex;
    gap: 20px;
}
.contact__icon-box span {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 25px;
}
.contact__icon-box span i {
    color: #147efb;
    font-size: 35px;
}
.contact__info {
    display: flex;
    flex-direction: column;
}
.contact__info h3 {
    color: #2d2e32;
    font-size: 24px;
}
.contact__info a, .contact__info p {
    color: #767676;
    cursor: pointer;
    font-size: 19px;
    text-decoration: none;
}


@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-links li {
        margin: 1rem 0;
    }

    .navbar-toggle {
        display: flex;
    }
}

.footer {
    background-color: #121010;
    color: #fff;
    padding: 20px 0;
    text-align: right;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-section .links{
    flex-direction: column;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section a:hover {
    color: #3498db;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
}

.footer-bottom span {
    color: lightgreen;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
}
